/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  margin-top: 5px;
  padding: 4px 25px;
}

.footer-heading {
  text-align: center;
  font-family: Roboto;
  color: #475569;
}
