/* Write your CSS here */
.config-controller-bg {
  background-color: #475569;
  padding: 15px 7.5%;
}

.layout-heading {
  font-family: Roboto;
  margin-top: 0;
  color: #f1f5f9;
  font-weight: 500;
}

.all-checkbox-and-label-container {
  display: flex;
  flex-direction: column;
}

.checkbox-label-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.checkbox {
  margin-right: 8px;
}

.label-text {
  font-family: Roboto;
  color: #f1f5f9;
  font-weight: 400;
}
